*{
    margin: 0;
    padding: 0;
}
/* Header Start */
header{
    height: 120px;
}


.logo1 img{
    margin-top: 10px;
    float: left;
}
.logo-name img{
    margin-top:42px;
    padding-left: 15px;
}
h2{
    text-align: center;
    float:right;
    color:#283747;
    text-transform: uppercase;
    font-size: 20px;
    width: 300px;
}
h3{
    float: right;
    font-size: 15px;
    color:orangered;
    text-transform: uppercase;
    width: 300px;

}